<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins
     directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">
<plugin
    id="${project.groupId}.${project.artifactId}"
    name="${project.name}"
    description="Provide XPath function extensions based on ICU4J"
    version="${project.version}"
    class="de.wwu.scdh.xpath.icu.oxygen.IcuXPathPlugin"
    classLoaderType="preferReferencedResources">

   <runtime>
      <!-- we use the global class loader to make the extension
	   functions available throughout in oxygen; and we make
	   it high priority because we want to use the ICU4J
	   library packaged with this plugin. -->
      <librariesFolder name="lib" scope="global"/>
   </runtime>

   <extension
       type="WorkspaceAccess"
       class="de.wwu.scdh.xpath.icu.oxygen.IcuXPathPluginExtension"/>

</plugin>
